body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
/* Estilização do header */
header {
    background-color: #fff;
    color: #000;
    height: 50px;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 30px;
    height: 30px;
}

.contact{
    display: flex;
}

.contact p {
    margin: 30px;
}

.social-icons img{
    width: 30px;
    height: 30px;
}

.social-icons img:hover{
    width: 32px;
    height: 32px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}
/* Estilização da section logo */
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #01adef;
    height: 100px;
    width: 100vw;
}

.logo img{
    width: 120px;
    height: 80px;
}

.logo nav ul {
    list-style-type: none;
    display: flex;
}

.logo nav li {
    margin-right: 20px;
}

.logo nav a {
    color: #000;
}

.logo nav a:hover{
color: #fff;
}
/* Estilização section banner */
.banner{
    width: 100vw;
    height: 400px;
}

.banner img{
    width: 100%;
    height: 100%;
}
/* Estilização da section séries */
.series h2{
    text-align: center;
}
.desc-series{
    display: flex;
    flex-direction: column;
}
.serie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.serie img{
    width: 300px;
    height: 200px;
    margin: 30px;
    margin-top: 0px;
}
.serie div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Section videos */
.videos{
    background-color: #e1e1e1;
}
.area-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#area-video{
    display: flex;
    width: 800px;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.videos h2{
    text-align: center;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
