/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #0A3ECD;
    color: #fff;
    height: 50px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

.contact{
    display: flex;
}
.contact p {
    margin: 30px;
}

.social-icons img{
    width: 30px;
    height: 30px;
}

.social-icons img:hover{
    width: 40px;
    height: 40px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #01adef;
    height: 50px;
}

.logo img{
    width: 120px;
    height: 80px;
}

.logo nav ul {
    list-style-type: none;
    display: flex;
}

.logo nav li {
    margin-right: 20px;
}

.logo nav a {
    color: #fff;
}

.logo nav a:hover{
color: #000;
}

.banner{
    width: 90vw;
    height: auto;
}


/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
